/* Tailwind CSS v4 */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply antialiased;
  background: var(--background);
  color: var(--foreground);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

/* Optional: Add smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}
input,
textarea {
  background-color: white;
}
